# Prerequisites
*.d

# Meson/Ninja build directory
build/

# Devs may want to use ./usr as install directory with meson --Dprefix=$PWD/usr/
usr/

# Emacs backup and autosave files
*~
.#*
\#*#
 
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
